<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MARS Homepage</title>
</head>
<body>
    <form action=analyse_code method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file"
                   title="Upload code for analysation"
                   name="source_code"
                   required="required">
            <p>
            <input type="submit"
                   value="Analyse">
                </form>

    <p></p>
        <hr>
        {% for row in source_code %}
            {{row}}
            <br>
        {% endfor %}
</body>
</html>